![Ironhack logo](https://i.imgur.com/1QgrNNw.png)

# Lab | Introduction to Pandas

## Introduction

In the Introduction to Pandas lesson, we learned about the two main data structures in Pandas (Series and DataFrames), how to work with them, how to obtain them from other data structures, and how to perform basic calculations with them.

The goal of this lab is to help you practice the concepts you learned in the lesson and provide you with some hands-on experience working with Pandas.

## Getting Started

Read the instructions for each cell and provide your answers. Make sure to test your answers in each cell and save. Jupyter Notebook should automatically save your work progress. But it's a good idea to periodically save your work manually just in case.

## Resources

- [Pandas Documentation](https://pandas.pydata.org/pandas-docs/stable/)
- [Intro to Pandas Data Structures](https://pandas.pydata.org/pandas-docs/stable/dsintro.html)
- [Descriptive Statistics for Pandas DataFrame](https://chrisalbon.com/python/data_wrangling/pandas_dataframe_descriptive_stats/)

# Introduction to Pandas

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

#### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [2]:
# your code here
import pandas as pd
import numpy as np

#### 2. Create a Pandas Series containing the elements of the list below.

Expected output:

````python
            0     5.7
            1    75.2
            2    74.4
            3    84.0
            4    66.5
            5    66.3
            6    55.8
            7    75.7
            8    29.1
            9    43.7
            dtype: float64
    
````

In [3]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [5]:
# your code here
df = pd.Series(lst)
df

0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
5    66.3
6    55.8
7    75.7
8    29.1
9    43.7
dtype: float64

In [7]:
type(df)

pandas.core.series.Series

#### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [9]:
# your code here
df[2]

74.4

#### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

Expected output:

|    |    0 |    1 |    2 |    3 |    4 |
|---:|-----:|-----:|-----:|-----:|-----:|
|  0 | 53.1 | 95   | 67.5 | 35   | 78.4 |
|  1 | 61.3 | 40.8 | 30.8 | 37.8 | 87.6 |
|  2 | 20.6 | 73.2 | 44.2 | 14.6 | 91.8 |
|  3 | 57.4 |  0.1 | 96.1 |  4.2 | 69.5 |
|  4 | 83.6 | 20.5 | 85.4 | 22.8 | 35.9 |
|  5 | 49   | 69   |  0.1 | 31.8 | 89.1 |
|  6 | 23.3 | 40.7 | 95   | 83.8 | 26.9 |
|  7 | 27.6 | 26.4 | 53.8 | 88.8 | 68.5 |
|  8 | 96.6 | 96.4 | 53.4 | 72.4 | 50.1 |
|  9 | 73.7 | 39   | 43.2 | 81.6 | 34.7 |

In [10]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [11]:
# your code here
df_b = pd.DataFrame(b)
df_b

      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

#### 5. Rename the data frame columns based on the names in the list below.

Expected output:

|    |   Score_1 |   Score_2 |   Score_3 |   Score_4 |   Score_5 |
|---:|----------:|----------:|----------:|----------:|----------:|
|  0 |      53.1 |      95   |      67.5 |      35   |      78.4 |
|  1 |      61.3 |      40.8 |      30.8 |      37.8 |      87.6 |
|  2 |      20.6 |      73.2 |      44.2 |      14.6 |      91.8 |
|  3 |      57.4 |       0.1 |      96.1 |       4.2 |      69.5 |
|  4 |      83.6 |      20.5 |      85.4 |      22.8 |      35.9 |
|  5 |      49   |      69   |       0.1 |      31.8 |      89.1 |
|  6 |      23.3 |      40.7 |      95   |      83.8 |      26.9 |
|  7 |      27.6 |      26.4 |      53.8 |      88.8 |      68.5 |
|  8 |      96.6 |      96.4 |      53.4 |      72.4 |      50.1 |
|  9 |      73.7 |      39   |      43.2 |      81.6 |      34.7 |

In [12]:
colnames = ['Score_1', 'Score_2', 'Score_3', 'Score_4', 'Score_5']

In [15]:
# your code here
df_b.columns = colnames

In [17]:
df_b.columns

Index(['Score_1', 'Score_2', 'Score_3', 'Score_4', 'Score_5'], dtype='object')

In [18]:
df_b

   Score_1  Score_2  Score_3  Score_4  Score_5
0     53.1     95.0     67.5     35.0     78.4
1     61.3     40.8     30.8     37.8     87.6
2     20.6     73.2     44.2     14.6     91.8
3     57.4      0.1     96.1      4.2     69.5
4     83.6     20.5     85.4     22.8     35.9
5     49.0     69.0      0.1     31.8     89.1
6     23.3     40.7     95.0     83.8     26.9
7     27.6     26.4     53.8     88.8     68.5
8     96.6     96.4     53.4     72.4     50.1
9     73.7     39.0     43.2     81.6     34.7

#### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

Expected output:

|    |   Score_1 |   Score_3 |   Score_5 |
|---:|----------:|----------:|----------:|
|  0 |      53.1 |      67.5 |      78.4 |
|  1 |      61.3 |      30.8 |      87.6 |
|  2 |      20.6 |      44.2 |      91.8 |
|  3 |      57.4 |      96.1 |      69.5 |
|  4 |      83.6 |      85.4 |      35.9 |
|  5 |      49   |       0.1 |      89.1 |
|  6 |      23.3 |      95   |      26.9 |
|  7 |      27.6 |      53.8 |      68.5 |
|  8 |      96.6 |      53.4 |      50.1 |
|  9 |      73.7 |      43.2 |      34.7 |

In [19]:
# create a list of variables that we want to consider
subset = ['Score_1', 'Score_3', 'Score_5']

In [21]:
# slice the df with brackets
df_subset = df_b[subset]

In [22]:
df_subset.head()

   Score_1  Score_3  Score_5
0     53.1     67.5     78.4
1     61.3     30.8     87.6
2     20.6     44.2     91.8
3     57.4     96.1     69.5
4     83.6     85.4     35.9

In [24]:
# Other method
df_subset = df_b.iloc[:, [0,2,4]]
df_subset

   Score_1  Score_3  Score_5
0     53.1     67.5     78.4
1     61.3     30.8     87.6
2     20.6     44.2     91.8
3     57.4     96.1     69.5
4     83.6     85.4     35.9
5     49.0      0.1     89.1
6     23.3     95.0     26.9
7     27.6     53.8     68.5
8     96.6     53.4     50.1
9     73.7     43.2     34.7

#### 7. From the original data frame, calculate the average Score_3 value.

Expected output:

````python
            56.95
````

In [26]:
# your code here
# select the 'Score_3' column and then call the function mean
df_b.Score_3.mean()

56.95000000000001

#### 8. From the original data frame, calculate the maximum Score_4 value.

Expected output:

````python
            88.8
````

In [27]:
# your code here
df_b['Score_4'].max()

88.8

#### 9. From the original data frame, calculate the median Score 2 value.

Expected output:

````python
            40.75
````

In [28]:
# your code here
# use the same method describe at exercise 8
df_b['Score_2'].median()

40.75

#### 10. Create a Pandas DataFrame from the dictionary of product orders below.

Expected output:

|    | Description                       |   Quantity |   UnitPrice |   Revenue |
|---:|:----------------------------------|-----------:|------------:|----------:|
|  0 | LUNCH BAG APPLE DESIGN            |          1 |        1.65 |      1.65 |
|  1 | SET OF 60 VINTAGE LEAF CAKE CASES |         24 |        0.55 |     13.2  |
|  2 | RIBBON REEL STRIPES DESIGN        |          1 |        1.65 |      1.65 |
|  3 | WORLD WAR 2 GLIDERS ASSTD DESIGNS |       2880 |        0.18 |    518.4  |
|  4 | PLAYING CARDS JUBILEE UNION JACK  |          2 |        1.25 |      2.5  |
|  5 | POPCORN HOLDER                    |          7 |        0.85 |      5.95 |
|  6 | BOX OF VINTAGE ALPHABET BLOCKS    |          1 |       11.95 |     11.95 |
|  7 | PARTY BUNTING                     |          4 |        4.95 |     19.8  |
|  8 | JAZZ HEARTS ADDRESS BOOK          |         10 |        0.19 |      1.9  |
|  9 | SET OF 4 SANTA PLACE SETTINGS     |         48 |        1.25 |     60    |

In [30]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [31]:
# your code here
df2 = pd.DataFrame(orders)

In [32]:
df2.head()

                          Description  Quantity  UnitPrice  Revenue
0              LUNCH BAG APPLE DESIGN         1       1.65     1.65
1  SET OF 60 VINTAGE LEAF CAKE CASES         24       0.55    13.20
2         RIBBON REEL STRIPES DESIGN          1       1.65     1.65
3   WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880       0.18   518.40
4    PLAYING CARDS JUBILEE UNION JACK         2       1.25     2.50

#### 11. Calculate the total quantity ordered and revenue generated from these orders.

Expected output:

````python
            Quantity    2978.0
            Revenue      637.0
````

In [33]:
# your code here
# select the variable 'Quantity' from df2 and call sum() function
df2.Quantity.sum()

2978

In [34]:
# select the variable 'Revenue' from df2 and call max() function
df2.Revenue.sum()

637.0

In [35]:
# we can also subset the dataframe selecting the variabels 'Quantity' and 'Revenue' at the same time
df2[['Quantity', 'Revenue']].sum()

Quantity    2978.0
Revenue      637.0
dtype: float64

#### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.
Expected output:

````python
            Most expensive:  11.95
            Least expensive:  0.18
            Difference:  11.77
````

In [36]:
# your code here
# select the variable 'UnitPrice' from df2 and call max() function
expensive = df2.UnitPrice.max()# your code here

In [37]:
# select the variable 'UnitPrice' from df2 and call min() function
cheap = df2.UnitPrice.min()

In [38]:
difference = expensive - cheap

In [39]:
print('Most expensive: ', df2.UnitPrice.max())
print('Least expensive: ', df2.UnitPrice.min())
print('Difference: ', difference)

Most expensive:  11.95
Least expensive:  0.18
Difference:  11.77

# BONUS

#### 1 Create a random dataframe containing 3 columns and 10 rows. 

*Hint: You'll have to use a `numpy.random` method to create random observations*

**Example of output:**

|    |         0 |        1 |        2 |
|---:|----------:|---------:|---------:|
|  0 | 0.0883504 | 0.867054 | 0.977949 |
|  1 | 0.819555  | 0.643927 | 0.122975 |
|  2 | 0.484618  | 0.515125 | 0.807791 |
|  3 | 0.539583  | 0.620799 | 0.926963 |
|  4 | 0.0479896 | 0.772282 | 0.621921 |
|  5 | 0.1398    | 0.767678 | 0.678816 |
|  6 | 0.0895157 | 0.242867 | 0.887941 |
|  7 | 0.160186  | 0.750576 | 0.439416 |
|  8 | 0.982747  | 0.652903 | 0.575518 |
|  9 | 0.646373  | 0.523237 | 0.700222 |

In [40]:
# your code here
#the np.random module has several functions to return random arrays explore a little the documentation, the one we are using here np.random.rand
#needs the shape of the array to be returned, it returns np.float values.
df = pd.DataFrame(np.random.rand(10,3))

In [41]:
df

          0         1         2
0  0.310616  0.823680  0.199593
1  0.555599  0.389316  0.840326
2  0.776561  0.343078  0.636803
3  0.513450  0.301265  0.214990
4  0.532726  0.806149  0.190645
5  0.165509  0.708240  0.483126
6  0.263596  0.925099  0.242196
7  0.817903  0.435054  0.130437
8  0.239605  0.785166  0.723999
9  0.288500  0.208922  0.565811

#### 2 Create a random dataframe containing 3 columns and 10 rows with specific column names. 

Use `['column1', 'column2', 'column3']` as the column names.

**Example of output:**

|    |   column1 |   column2 |   column3 |
|---:|----------:|----------:|----------:|
|  0 |        10 |        21 |        45 |
|  1 |        32 |        87 |        39 |
|  2 |        93 |        53 |         8 |
|  3 |        52 |        77 |        41 |
|  4 |        72 |        50 |        31 |
|  5 |        16 |         6 |        41 |
|  6 |        66 |        33 |        62 |
|  7 |        97 |        50 |        92 |
|  8 |        21 |        71 |        42 |
|  9 |        91 |        97 |        32 |

In [42]:
# your code here
#the function np.random.randint takes the shape of the array as well as the range of int the random numbers can be selected from
array_size=(10,3)
df = pd.DataFrame(np.random.randint(0, 100, size=array_size),columns=['column1','column2', 'column3'])

In [43]:
df

   column1  column2  column3
0       87       78       77
1       92       91       75
2       51        4       92
3       17       86       24
4       49       55       70
5       95       13       50
6       26       15       34
7       11       42       34
8       34       51       87
9       46       23       42

#### 3 Create a random dataframe containing N columns and M rows with specific column names.

For this task you'll have to name the columns as `['column1', 'column2', 'column3', ...,'columnN']`. You can use a list comprehension to do that.

In [44]:
N = 10
M = 30
df = pd.DataFrame(np.random.randint(0, 100, size=(M,N)),columns=["column"+str(i+1) for i in range(N)])
df

,column1,column2,column3,column4,column5,column6,column7,column8,column9,column10
0,69,93,94,94,55,82,74,44,37,41
1,66,59,20,69,9,84,42,78,99,5
2,12,76,36,39,62,55,43,80,90,24
3,63,42,0,67,42,18,78,19,45,96
4,17,80,24,66,41,78,79,80,60,80
5,96,71,10,22,20,43,20,70,92,30
6,55,74,10,38,62,82,12,95,32,61
7,16,10,36,59,0,82,44,90,25,67
8,90,79,17,60,52,73,21,55,36,7
9,93,38,35,45,26,58,80,83,85,77
10,74,88,70,9,21,49,83,25,12,4
11,38,93,55,19,71,78,26,21,70,76
12,90,27,15,72,9,79,64,94,81,82
13,87,73,18,56,81,15,53,8,44,40
14,81,84,23,99,0,58,77,67,36,46
15,28,70,2,61,90,13,47,97,98,98
16,11,59,34,85,31,30,78,67,10,86
17,6,29,68,42,51,92,34,17,66,9
18,82,13,83,88,61,60,8,77,5,65
19,23,93,44,75,22,0,44,95,75,30
20,68,91,39,54,11,27,20,43,59,93
21,18,44,81,46,76,92,98,69,18,0
22,54,83,82,6,68,99,30,16,56,44
23,45,70,40,20,44,54,76,85,49,45
24,97,86,96,87,13,82,25,40,40,82
25,84,82,51,42,61,61,77,3,83,29
26,9,96,14,22,37,26,56,15,27,34
27,81,60,25,5,28,52,51,11,95,2
28,0,60,64,22,45,12,98,12,51,84
29,88,23,91,92,29,70,5,2,76,64